{% load static %}
{% block content %}

<html>
    <head>
        <title>
            Deleted Records Archive
        </title>
    </head>

    <style>

    </style>

    <body>
        <table id="deleted_admin_records" class="table custom-table">
            <thead>
                <tr>
                    <th><span>No.</span></th>
                    <th><span>Name</span></th>
                    <th><span>Email</span></th>
                    <th><span>Phone No.</span></th>
                    <th><span>School Name</span></th>
                </tr>
            </thead>
            <tbody>
                {% for student in deleted_student %}
                  
                    <tr class="deleted_admin_rows">
                        <td>{{ student.start_index|add:forloop.counter0 }}</td>
                        <td>{{ student.user.full_name }}</td>
                        <td>{{ student.user.email }}</td>
                        <td>{{ student.user.phone_no }}</td>
                        <td>{{ student.school_name }}</td>
                    </tr>
                   
                {% endfor %}
            </tbody>
        </table>

    </body>


</html>
{% endblock %}