{% load static %}
{% block content %}

<html>
    <head>
        <title>
            Deleted Records Archive
        </title>
    </head>

    <style>
        .table{
            width: 100%;
            border: 1px solid #ccc;
            border-collapse: collapse;
        }

        th{
            cursor: pointer;
        }

        .table th, 
        .table td{
            padding: 8px;
        }

        .table th{
            background-color: #21486C;
            color: #FFFFFF;
        }

        .classname{
            color: #333;
        }

        .classname a{
            color: #6A76FF;
            text-decoration: none;
        }

        .classname a:hover{
            color: #1650e1;
        }

        .class_rows:hover{
            background-color: #e4e4e4;
        }

        .header-wrapper{
            display: flex;
            align-items: center;
        }

        .header-wrapperspan{
            flex-grow: 1;
            display: flex;
            align-items: center;
        }

        .header-wrapper i{
            margin-left: 4px;
        }

    </style>

    <body>
        <br>
        <table id="deleted_class_records" class="table custom-table">
            <thead>
                <tr class="class_rows">
                    <th><span>No.</span></th>
                    <th onclick="sortTableTab3(1)">
                        <div class="header-wrapper">
                            <span>
                                Class Name
                                <i class="fas fa-sort" style="margin-left: 10px;"></i>
                            </span>
                        </div>
                    </th>
                    <th onclick="sortTableTab3(2)">
                        <div class="header-wrapper">
                            <span>
                                Subject Taught
                                <i class="fas fa-sort" style="margin-left: 10px;"></i>
                            </span>
                        </div>
                    </th>
                    <th onclick="sortTableTab3(3)">
                        <div class="header-wrapper">
                            <span>
                                Study Level
                                <i class="fas fa-sort" style="margin-left: 10px;"></i>
                            </span>
                        </div>
                    </th>
                    <th onclick="sortTableTab3(4)">
                        <div class="header-wrapper">
                            <span>
                                Class Time
                                <i class="fas fa-sort" style="margin-left: 10px;"></i>
                            </span>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for classes in deleted_class %}         
                    <tr class="deleted_admin_rows">
                        <td>{{ deleted_class.start_index|add:forloop.counter0 }}</td>
                        <td class="classname"><a href="{% url 'deleted_view_class_detail' classes.id%}">{{ classes.tuition_class_name }}</a></td>
                        <td>{{ classes.subject }}</td>
                        <td>{{ classes.tuition_class_study_level }}</td>
                        <td>Every {{ classes.weekly_day}}
                            <h6><span style="font-size: smaller;">{{ classes.general_start_time }} to {{ classes.general_end_time }}</span></h6>
                        </td>
                    </tr>
                   
                {% endfor %}
            </tbody>
        </table>

        <!-- third Pagination Block -->
        <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    {% if deleted_class.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?third_page=1&active_tab=tab3">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?third_page={{ deleted_class.previous_page_number }}&active_tab=tab3">Previous</a>
                    </li>
                    {% endif %}

                    {% for i in page_range_third %}
                        {% if i == deleted_class.number %}
                        <li class="page-item active">
                            <span class="page-link">{{ i }}</span>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?third_page={{ i }}&active_tab=tab3">{{ i }}</a>
                        </li>
                        {% endif %}
                    {% endfor %}

                    {% if deleted_class.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?third_page={{ deleted_class.next_page_number }}&active_tab=tab3">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?third_page={{ deleted_class.paginator.num_pages }}&active_tab=tab3">Last</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>

    </body>
    <script>
        function sortTableTab3(n) {
          var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
          table = document.getElementById("deleted_class_records");
          switching = true;
          dir = "asc";
          
          while (switching) {
            switching = false;
            rows = table.rows;
            
            for (i = 1; i < (rows.length - 1); i++) {
              shouldSwitch = false;
              x = rows[i].getElementsByTagName("td")[n].textContent.toLowerCase();
              y = rows[i + 1].getElementsByTagName("td")[n].textContent.toLowerCase();
              
              if (dir == "asc") {
                if (x > y) {
                  shouldSwitch = true;
                  break;
                }
              } else if (dir == "desc") {
                if (x < y) {
                  shouldSwitch = true;
                  break;
                }
              }
            }
            
            if (shouldSwitch) {
              rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
              switching = true;
              switchcount++;
            } else {
              if (switchcount === 0 && dir === "asc") {
                dir = "desc";
                switching = true;
              }
            }
          }
        }
      </script>


</html>
{% endblock %}