{% block content %}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    </head>
    <style>
        body {
            font-family: "Arial", sans-serif;
        }

        .table{
            width: 100%;
            border: 1px solid #ccc;
            border-collapse: collapse;
        }

        th{
            cursor: pointer;
        }

        .table th,
        .table td{
            padding: 8px;
        }

        .table th{
            background-color: #21486c;
            color: #ffffff;
        }

    </style>

    <body>
        <br>
        <div>
            <h5><b>Receipt</b></h5>
            <br>
            <div class="row justify-content-end">
                <h6 class="col-auto"><b>Receipt No:</b> {{ receipt_number }}</h6>
            </div>

            <div class="row justify-content-end">
                <h6 class="col-auto"><b>Date:</b> {{ current_date }}</h6>
            </div>

            <br><br>
            <div class="row justify-content-between">
                <div class="col">
                    <h6><b>From:</b>
                        <br><br>
                        Berry Group Sdn Bhd
                        <br>
                        Unit 7.8, Kompleks Komersil Akasa Jalan Akasa,
                        <br>
                        Akasa Cheras Selatan, 43300,
                        <br>
                        Cheras, Selangor.
                    </h6>
                </div>
                <div class="col-auto">
                    <h6><b>To:</b>
                        <br><br>
                        {{ student.user.full_name }}
                        <br>
                        {{ student.user.phone_no }}
                    </h6>
                </div>
            </div>
        
        </div>

        <br>
        <table id="invoice_table" class="table custom-table">
            <thead>
                <tr>
                    <th>
                        <span>No.</span>
                    </th>
                    <th>
                        <span>
                            Description
                        </span>
                    </th>
                    <th>
                        <span>
                            Amount (RM)
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for classes in active_classes_enrolled %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ classes.tuition_classes.tuition_class_name }}</td>
                    <td>{{ classes.tuition_classes.monthly_fee }}</td>
                </tr>
                {% endfor %}

                <!--Display the additional invoice items-->
                {% for item in additional_items %}
                <tr>
                    <td>{{ forloop.counter|add:active_classes_enrolled.count }}</td>
                    <td>{{ item.invoice_item_description }}</td>
                    <td>{{ item.amount }}</td>
                </tr>
                {% endfor %}

                <!--Add the total amount row with background colour-->
                <tr style="background-color: #cce5ff;">
                    <td colspan="2" style="text-align: right;"><b>Total Amount:</b></td>
                    <td><b>{{ total_amount }}</b></td>
                </tr>
            </tbody>
        </table>

        <br><br>
        <div>
            <h6>
                <h6><b>Terms and Conditions:</b></h6>
                <br>
                <h6>1. We will be closed on Public Holidays and during Berry Online Holidays. There will be no replacement class when off on Public Holidays and Berry Online Holidays.</h6>
                <h6>2. Paid fees are NOT refundable and NOT transferable</h6>
                <h6>3. If there is a fifth week in a month, we will conduct the class as usual, except in the case of a Public Holiday or Berry Online Holiday.</h6>
            </h6>
        </div>
        
    </body>
</html>

{% endblock %}